body{
    background: rgb(28,194,69);
background: (96FF33 81%);
font-family: 'Courier New', Courier, monospace;
color: blueviolet;
}
main{
    width: 730px;
    margin: 100px auto;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 4opx;
    color: black;
    font-weight: bold;
}
.section2{
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px; 
}
.estadistica{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
img{
    width: 80%;
}

.glowVerde{
    background-color: rgb(37, 241, 10);
}

.glowRojo{
    background-color: rgb(248, 8, 20);
}